<template name="ListDescriptions">
    <div class="home">
            <h1>Web API REST</h1>
        </div>

        <!-- https://themeteorchef.com/tutorials/simple-search sito per fare una ricerca con meteor-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group" id="adv-search">
                        <input type="text" class="form-control" placeholder="Search API" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">Filter by</label>
                                                <select class="form-control">
                                                    <option value="0" selected>All Snippets</option>
                                                    <option value="1">Featured</option>
                                                    <option value="2">Most popular</option>
                                                    <option value="3">Top rated</option>
                                                    <option value="4">Most commented</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Name API</label>
                                                <input class="form-control" type="text" />
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Contains the words</label>
                                                <input class="form-control" type="text" />
                                            </div>
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name API</th>
                <th align="center">Edit Web API</th>
                <th align="center">Composer</th>
            </tr>
            </thead>
            <tbody>
            {{#each descriptions}}
                <tr>
                    <td>{{nameAPI}}</td>
                    <td align="center">{{#linkTo route='editDescription'}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{/linkTo}}</td>
                    <td align="center">{{#linkTo route=''}}<span class="glyphicon glyphicon-book" aria-hidden="true"></span>{{/linkTo}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
       <!--  <button type="button" class="btn btn-primary btn-danger" id="parse">Parse descriptions</button>
        <button type="button" class="btn btn-primary btn-group" id="composition">Composition</button>
        <button type="button" class="btn btn-primary btn-group" id="query">Query Sparql</button>
        <button type="button" class="btn btn-primary btn-group" id="queryModificata">Query Sparql modificata</button> -->

</template>


