<template name="MasterLayout">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            {{#linkTo route="home" class="logo"}}
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>STI</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">AutomAPIc</span>
            {{/linkTo}}

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src='https://cdn0.iconfinder.com/data/icons/glyph_set/160/user_man.png' class="img-circle" alt="User Image">
                        <!--<img src='/Users/lorenzo/Desktop/Tesi/Progetto composizione/apic-tool/app/node_modules/admin-lte/dist/img/user2-160x160.jpg' class="img-circle" alt="User Image"> -->
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <!-- Status -->
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">HEADER</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active">
                        {{#linkTo route="descriptions"}}
                            <i class="fa fa-link"></i>
                            <span>Web APIs</span>
                        {{/linkTo}}
                    </li>
                    <li class="active">
                        {{#linkTo route="createDescription"}}
                        <i class="fa fa-link"></i>
                        <span>Add API</span>
                    {{/linkTo}}
                    </li>
                    <li class="active">
                        {{#linkTo route="createComposition"}}
                        <i class="fa fa-link"></i>
                        <span>Composition</span>
                        {{/linkTo}}
                    </li>
                    <li class="active">
                    {{#linkTo route=""}}
                        <i class="fa fa-link"></i>
                        <span>Modified</span>
                    {{/linkTo}}
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 633px;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <!-- <h1>
                    Page Header
                    <small>Optional description</small>
                </h1> -->
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                {{> yield }}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright © 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
    </div>


</template>


