<template name="EditDescription">
    <div class="edit-description">
        <form class="updateDescription" id="updateDescription">
            <div class="form-group">
                <label for="nameAPI">Name:</label>
                <input type="text" class="form-control" id="nameAPI" value="{{nameAPI}}">

                <label for="comment">Description:</label>
                <textarea class="form-control" rows="10" id="description">{{description}}</textarea><br>
                <button type="submit" id="submit" class="btn btn-success">Update <span
                        class="glyphicon glyphicon-share-alt"></span></button>
                <button type="button" class="btn btn-primary btn-danger" id="delete"><span
                        class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </div>
        </form>

    </div>
</template>
