<template name="CreateComposition">
    <h1>{{descriptionsArray.length}}</h1>
    <div class="row">
        {{#each descriptions in descriptionsArray}}
            <div class="col-sm-2">

                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
                <br>
                <select class="selectpicker" data-id="category-select-{{@index}}" data-style="btn-primary"
                        id="category-select-{{@index}}">
                    <option  selected="selected">Please Select</option>
                    {{#each description in descriptions}}
                        <option value="{{description}}">{{description}}</option>
                    {{/each}}
                </select>
                <br>

                <select class="selectpicker" data-id="path-select-{{@index}}" data-style="btn-primary"
                        id="path-select-{{@index}}">
                    <option value="default" selected="selected">Please Select</option>
                    {{#each path in descriptionPathArray @index }}
                        <option value="{{path.id_path}}">{{path.pathStr}}</option>
                    {{/each}}
                </select>
            </div>

        {{/each}}
    </div>


</template>
