<template name="CreateDescription">
  <div class="create-description">
    <h1>Create new description Web API</h1>
      <form class="createDescription" id="createDescription">
          <div class="form-group">
              <label for="nameAPI">Name:</label>
              <input type="text" class="form-control" id="nameAPI" placeholder="Insert name Web API">

              <label for="comment">Description:</label>
              <textarea class="form-control" rows="10" id="description"></textarea><br>
              <label for="file">Insert a json file: </label>
              <input type="file"  id="fileDescription" name="file" accept=".json" required>
              <button type="submit" id="submit" class="btn btn-success">Submit <span class="glyphicon glyphicon-share-alt"></span></button>
          </div>
      </form>
  </div>
</template>
